.center {
  text-align: center;
  padding-bottom: 0;
}

.one-user {
  padding: 20px 0;
  border-bottom: #BEBFC8 solid 1px;
}

.flex-end {
  justify-content: flex-end;
}

.button {
  margin-top: 27px;
}

.hover {
  &:hover{
    color: #007bff;
    cursor: pointer;
    user-select: none;
  }
  &:active{
    font-weight: normal;
  }
}

.hover-header {
  &:hover{
    background-color: #E6E6E7;
    cursor: pointer;
    user-select: none;
  }
}

.table-title {
  font-weight: 600;
  color: #37393C;
  padding-top: 0;
}

.pointer {
  cursor: pointer;
}

.full-name-padding {
  padding: 0 5px;
}


// POPUP

.corp-alert {
  display: none;
  &.active {
    display: block;
  }
}

.alert__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  opacity: 0.82;
  background: #000;
}

.alert__window {
  position: fixed;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 48px 15px 0 15px;
  background: #F5F5F5;
  z-index: 200;
  max-height: 90vh;
  word-break: break-word;
  overflow: auto;
  @media (min-width: 576px) {
    width: 500px;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    border-radius: 20px 15px;
    border: 3px solid #007bff;
  }
}

.alert__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 22px;
  line-height: 2.2;
  text-align: center;

  color: #FFF;
  background: #007bff;
  @media (min-width: 576px) {
    z-index: 300;
    border-radius: 15px 10px 0 0;
  }
}

body.modal-open {
  overflow: hidden;
}

// ANIMATIONS

.slide-enter-active {
  transition-duration: 0.9s;
  transition-timing-function: linear;
  padding: inherit;
}

.slide-leave-active {
  transition-duration: 0.7s;
  padding: inherit;
}

.slide-enter-to, .slide-leave {
  max-height: 600px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}



